@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

body {
    background-color: #2D2D2F;
    color: #F2C063;
}
ol {
    color: #F2C063;
}
h1 {
    text-align: center;
    background-image: linear-gradient(180deg, #BF6B8A, #ACD7E0, #F2C063, #2D2D2F, #F2F2F2);
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
}
ul {
    color: #BF6B8A;
}
dd {
    text-align: justify;
    color: #BF6B8A;
}
dt {
    color: #F2C063;
}
a {
    color: #ACD7E0;
}
p {
    text-align: justify;
}
img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
}