@charset "UTF-8";

body {
    background-color: #BF6B8A;
    color: #F2C063;
}
main {
    background-color: #2D2D2F;
    width: auto;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    background-image: linear-gradient(180deg, #ACD7E0, #F2C063, #2D2D2F, #BF6B8A, #F2F2F2);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
    color: black;
}
p {
    text-align: justify;
}
a {
    color: #ACD7E0;
    text-decoration: none;
}
a:visited {
    color: #ACD7E0;
}
a:hover {
    text-decoration: underline;
}
video {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
    max-width: 95%;
}
iframe {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
    max-width: 95%;
}
nav {
    background-color: #2D2D2F;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
    padding: 10px;
    margin: auto;
}